# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
*.lcov

# Production build
dist/
build/
.vercel/

# Environment variables
.env
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.swo

# Cache
.cache/
.parcel-cache/
.eslintcache

# Temporary files
*.tmp
*.temp
.temp/
.tmp/
